*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body div.container{
    display: flex;
    justify-content: center;
}

div.container div.appcontent h2{
    font-size: 2.2rem;
    margin: 10px;
}

div.container div.appcontent p.question{
    font-size: 20px;
}

div.container div.appcontent{
    border: 2px solid #33a4de;
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 600px;
    background-color: #7a92aa;
}

div.container div.appcontent div.inputdiv{
    margin: 6% 0;
}

div.appcontent div.inputdiv input.guessfruit{
    padding: 3%;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
}

div.appcontent div.inputdiv button.btn{
    padding: 3% 3%;
    border-radius: 10px;
    background-color: gray;
    color: black;
    font-size: 26px;
    border: none;
    outline: none;
    cursor: pointer;
}

div.appcontent div.imagediv img.fruitimg{
    width: 350px;
    height: 27vh;
    border-radius: 10px;
    margin-top: 5%;
}

div.appcontent div.remarkcontainer{
    display: flex;
    justify-content: center;
}

div.appcontent div.resultcontainer{
    display: flex;
    justify-content: center;
}

div.appcontent div.remarkcontainer div.remark{
    background-color: #00ff2f;
    padding: 2%;
    border-radius: 5px;
}

div.appcontent div.resultcontainer div.result{
 font-size: 20px;
 margin-top:10px ;   
}

div.result p span.fruitname{
    font-weight: bold;
    font-size: 26px;
}

.hide{
display: none;
}